@charset "UTF-8";

#total { /* id를 선택해서 스타일을 지정할 때는 #을 앞에 쓴다. */
	
}

#top {
	width: 1700px;
	height: 150px;
	background: none;
}

#top2 {
	width: 1700px;
	height: 60px;
	background: MediumSeaGreen;
	font-size: 17px;
}

#top3 {
	width: 230px;
	height: 370px;
	background: black;
	color: white;
	top: 5px;
	right: 0px;
	position: fixed; /* 위치 고정s. 다른 내용이 움직여도 얘는 안움직인다. */
	border-radius: 0px 0px 50px 30px; /* 장바구니 모서리 둥근정도 설정 */
}

#center { /* 메인페이지 쓰는사람 : 나 */
	background: pink;
	width: 1700px;
	height: 2000px;
}

/* body{
	color: green; key:value
	font-size: 40px; 글자크기, 픽셀단위 꼭 붙여준다.
} */