@charset "UTF-8";

li:nth-child(2n) { /* li중 짝수 */
	background: red;
}

li:nth-child(2n+1) { /* li중 홀수 */
	background: yellow;
}

li:first-child {
	border-radius : 60px 0 0 60px;
}

li:last-child {
	border-radius : 0 60px 60px 0;
}



li {
	list-style: none;
	float: left; 
	padding: 30px;
	/* background : pink; */
}

#total { /* id를 선택해서 스타일을 지정할 때는 #을 앞에 쓴다. */
	
}

#top {
	width: 800px;
	height: 150px;
	background: green;
}

#top2 {
	width: 100px;
	height: 500px;
	background: black;
	color: yellow;
	top: 5px;
	right: 5px;
	position: fixed; /* 위치 고정. 다른 내용이 움직여도 얘는 안움직인다. */
	border-radius: 0px 20px 50px 30px; /* 장바구니 모서리 둥근정도 설정 */
	font-size: 20px;
}

#center { /* 메인페이지 쓰는사람 : 나 */
	background: pink;
	width: 800px;
	height: 700px;
}

/* body{
	color: green; key:value
	font-size: 40px; 글자크기, 픽셀단위 꼭 붙여준다.
} */